.div-card-details {
    margin: 0 auto;
     width: 100px;
     padding-top: 20px;
     text-align: center;
  }

  .div-card-details-checkpoints {
    margin: 0 auto;
    width: 100px;
    text-align: center;
  }